.item {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
}

.item__name {
  flex: 1;
}

.item__amount {
  margin: 0 1rem;
}

.item__btn-done {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(./img/nocheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.item__btn-done--check {
  background-image: url(./img/check.svg);
}
